<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AirBnB clone</title>
        <link href="styles/4-common.css" rel="stylesheet">
        <link href="styles/3-footer.css" rel="stylesheet">
        <link href="styles/3-header.css" rel="stylesheet">
        <link href="styles/6-filters.css" rel="stylesheet">
        <link href="styles/100-places.css" rel="stylesheet">
        <link rel="icon" href="images/icon.png">
    </head>
    <body>
        <header>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <h4>California, Arizona...</h4>
                    <ul class="popover">
                        <li><h2 class="popover">Arizona:</h2></li>
                        <li>Place 1</li>
                        <li>Place 2</li>
                        <li><h2 class="popover">California:</h2></li>
                        <li>Tv</li>
                        <li>Kitchen</li>
                        <li>Iron</li>
                    </ul>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <h4>Internet, kitchen...</h4>
                    <ul class="popover">
                        <li>Internet</li>
                        <li>Tv</li>
                        <li>Kitchen</li>
                        <li>Iron</li>
                    </ul>
                </div>
                <button><b>Search</b></button>
                
            </section>
            <section class="places">
                <h1>Places</h1>
                <article>
                    <h2>My home</h2>
                    <div class="price_by_night">$80</div>
                    <div class="information">
                        <div class="max_guest">2 Guests</div>
                        <div class="number_rooms">1 Bedroom</div>
                        <div class="number_bathrooms">1 Bathroom</div>
                    </div>
                    <div class="user"><b>Owner</b>: Mario Tequilas</div>
                    <div class="description">Although practicality beats purity.
                        Errors should never pass silently.
                        Unless explicitly silenced.
                        In the face of ambiguity, refuse the temptation to guess.
                    </div>
                    <div class="amenities">
                        <h2>Amenities</h2>
                        <ul>
                            <li class="pet">Pet friendly</li>
                            <li class="tv">TV</li>
                            <li class="wifi">Wifi</li>
                        </ul>
                    </div>
                    <div class="reviews">
                        <h2>1 Reviews</h2>
                        <ul>
                            <li>
                                <h3>From Maria Chaparrita the 8th January 2018</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                            <li>
                                <h3>From Bob Dylan the 27th January 2017</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                        </ul>
                    </div>
                </article>
                <article>
                    <h2>Tiny depa</h2>
                    <div class="price_by_night">$120</div>
                    <div class="information">
                        <div class="max_guest">2 Guests</div>
                        <div class="number_rooms">1 Bedroom</div>
                        <div class="number_bathrooms">1 Bathroom</div>
                    </div>
                    <div class="user"><b>Owner</b>: Andrew walters</div>
                    <div class="description">There should be one and preferably only one obvious way to do it.
                        Although that way may not be obvious at first unless you're Dutch.
                        Now is better than never.
                        Although never is often better than *right* now.
                        La la la nadie te vio quiero decir nadie nos vio
                    </div>
                    <div class="amenities">
                        <h2>Amenities</h2>
                        <ul>
                            <li class="pet">Pet friendly</li>
                            <li class="tv">TV</li>
                            <li class="wifi">Wifi</li>
                        </ul>
                    </div>
                    <div class="reviews">
                        <h2>1 Reviews</h2>
                        <ul>
                            <li>
                                <h3>From Maria Chaparrita the 8th January 2018</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                            <li>
                                <h3>From Bob Dylan the 27th January 2017</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                        </ul>
                    </div>
                </article>
                <article>
                    <h2>Big house</h2>
                    <div class="price_by_night">$30</div>
                    <div class="information">
                        <div class="max_guest">2 Guests</div>
                        <div class="number_rooms">1 Bedroom</div>
                        <div class="number_bathrooms">1 Bathroom</div>
                    </div>
                    <div class="user"><b>Owner</b>: Teressa Williams</div>
                    <div class="description">
                        Beautiful is better than ugly.
                        Explicit is better than implicit.
                        Simple is better than complex.
                        Complex is better than complicated.
                    </div>
                    <div class="amenities">
                        <h2>Amenities</h2>
                        <ul>
                            <li class="pet">Pet friendly</li>
                            <li class="tv">TV</li>
                            <li class="wifi">Wifi</li>
                        </ul>
                    </div>
                    <div class="reviews">
                        <h2>1 Reviews</h2>
                        <ul>
                            <li>
                                <h3>From Maria Chaparrita the 8th January 2018</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                            <li>
                                <h3>From Bob Dylan the 27th January 2017</h3>
                                <p>I was pretty quiet i liked it really much</p>
                            </li>
                        </ul>
                    </div>
                </article>
                
            </section>
        </div>
        <footer>Holberton School</footer>
    </body>
</html>
