{% for place in places %}
        <article>
        <div class="title_box">
            <h2>{{ place.0.name }}</h2>
            <div class="price_by_night">${{ place.0.price_by_night }}</div>
        </div>
        <div class="information">
            <div class="max_guest">{{ place.0.max_guest }} Guests</div>
                <div class="number_rooms">{{ place.0.number_rooms }} Bedroom</div>
                <div class="number_bathrooms">{{ place.0.number_bathrooms }} Bathroom</div>
        </div>
        <div class="user">
                <b>Owner:</b> {{ place.1 }}
            </div>
            <div class="description">
            {{ place.0.description }}
            </div>
        </article>
    {% endfor %}
